<div class="upcoming-events-container">
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
</div>