<main class="d-flex vh-100 flex-row justify-content-center align-items-center">
    <div class="col-8">
        <form class="row" [formGroup]="loginForm" (ngSubmit)="login()">
            <!-- Email input -->
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
                <label for="floatingInput" class="ms-2">Email address</label>
              </div>
            <!-- Password input -->
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
                <label for="floatingPassword" class="ms-2">Password</label>
              </div>
          
            <!-- 2 column grid layout for inline styling -->
            <div class="row my-3 p-0 mx-0">
              <div class="col text-nowrap">
                <!-- Checkbox -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                  <label class="form-check-label" for="form2Example31"> Remember me </label>
                </div>
              </div>
          
              <div class="col text-nowrap">
                <!-- Simple link -->
                <a href="#!" class="d-block text-end">Forgot password?</a>
              </div>
            </div>
          
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary w-auto ms-auto me-2" [disabled]="loginForm.valid ? null : 'disabled'">Log in</button>
          </form>
    </div>
</main>