<div class="d-grid gap-4">
  <div>
    <span class="fw-bold text-c-primary">Event Name: </span>
    <br>
    <span class="text-c-primary">Drawing Classes by Ishan Awasthi</span>
  </div>
  <div>
      <span class="fw-bold text-c-primary">Faculty: </span>
      <br>
      <span class="text-c-primary">Mr. DhiroDutta Subba</span>
  </div>
  <div>
      <span class="fw-bold text-c-primary">Event Duration:</span>
      <table class="table">
          <tbody>
              <tr>
                  <td scope="col" class="fw-bold text-c-primary">Starting Date</td>
                  <td class="text-c-primary">12 Mar, 2024</td>
              </tr>
              <tr>
                  <td scope="col" class="fw-bold text-c-primary">Closing Date</td>
                  <td class="text-c-primary">14 Mar, 2024</td>
              </tr>
          </tbody>
      </table>
  </div>
  <div>
      <span class="fw-bold text-c-primary">Event Dates & Time:</span>
      <table class="table">
          <thead>
            <tr class="table-light">
              <th scope="col" class="text-c-primary">Date</th>
              <th scope="col" class="text-c-primary">Starting Time</th>
              <th scope="col" class="text-c-primary">Ending Time</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-c-primary">12 Mar, 2023</td>
              <td class="text-c-primary">08:00 AM</td>
              <td class="text-c-primary">11:30 AM</td>
            </tr>
            <tr>
              <td class="text-c-primary">13 Mar, 2023</td>
              <td class="text-c-primary">10:00 AM</td>
              <td class="text-c-primary">04:00 PM</td>
            </tr>
            <tr>
              <td class="text-c-primary">14 Mar, 2023</td>
              <td class="text-c-primary">01:00 PM</td>
              <td class="text-c-primary">05:00 PM</td>
            </tr>
          </tbody>
      </table>
  </div>
</div>
