<div class="card border-0 border-bottom rounded-0">
    <div class="py-3 px-4">
      <section class="d-flex flex-row align-items-center justify-content-between">
        <section class="d-flex flex-row align-items-center">
            <img src="assets/hall.svg" alt="hall.img" width="20px" height="20px">
            <h6 class="pb-0 m-0 ms-3 text-c-primary">{{hallInfo.name}}</h6>
        </section>
        <div class="align-self-end"><button type="button" class="card-link btn btn btn-primary text-light" [routerLink]="hallInfo.link">Show</button></div>
      </section>
    </div>
  </div>
