<form [formGroup]="requestEventGroup" class="px-4 row gy-3" (change)="toggleTimeFormState()" (change)="updateForm()">
        <div class="form-floating">
            <select class="form-control" id="eventTitle" aria-label="Floating label select example" formControlName="eventTitle">
                <option selected value="">-- --</option>
                    <option value="Art Classes by Ishan Awasthi">Art Classes by Ishan Awasthi</option>
                    <option value="Smart Finance Classes">Smart Finance Classes</option>
                    <option value="Programming in Python">Programming in Python</option>
            </select>
            <label class="ms-2 text-c-primary" for="eventTitle">Event Name</label>
            <div class="text-danger" *ngIf="requestEventGroup.get('eventTitle')?.errors && (requestEventGroup.get('eventTitle')?.touched || requestEventGroup.get('eventTitle')?.dirty)">
                <span *ngIf="requestEventGroup.get('eventTitle')?.errors?.['required']">Please enter an Event Name</span>
            </div>
        </div>
</form>
<form [formGroup]="requestDateGroup" class="pt-4 px-4 row gy-3" (change)="generateTimeSlots()" (change)="updateForm()">
    <div class="form-floating col-6">
        <input type="date" class="form-control" placeholder="Event Description" id="startingDate" formControlName="startingDate">
        <label for="startingDate" class="ms-2 text-c-primary">Starting Date</label>
        <div class="text-danger" *ngIf="requestDateGroup.get('startingDate')?.errors && (requestDateGroup.get('startingDate')?.touched || requestDateGroup.get('startingDate')?.dirty)">
            <span *ngIf="requestDateGroup.get('startingDate')?.errors?.['required']">Please enter starting date</span>
            <span *ngIf="requestDateGroup.get('startingDate')?.errors?.['currentdate']">You cannot create an event in past</span>
        </div>
    </div>
    <div class="form-floating col-6">
        <input type="date" class="form-control" placeholder="Event Description" id="endingDate" formControlName="endingDate">
        <label for="endingDate" class="ms-2 text-c-primary">Ending Date</label>
        <div class="text-danger" *ngIf="requestDateGroup.get('endingDate')?.errors && (requestDateGroup.get('endingDate')?.touched || requestDateGroup.get('endingDate')?.dirty)">
            <span *ngIf="requestDateGroup.get('endingDate')?.errors?.['required']">Please enter Ending date</span>
            <span *ngIf="requestDateGroup.get('endingDate')?.errors?.['currentdate']">You cannot create an event in past</span>
        </div>
    </div>
</form>
<!-- <div>{{TIME_INPUT}}</div> -->
<form [formGroup]="requestTimeGroup" class="pt-4 px-4 row gy-3" (change)="updateForm()">
        <ng-template ngFor let-item [ngForOf]="[].constructor(TIME_INPUT)" let-i="index">
            <div class="border-top pt-2">Add Time for {{ createNewDate(i) }}</div>
            <div class="form-floating col-6">
                <input type="time" class="form-control" placeholder="Event Description" [id]="'starting-time-'+i" formControlName="starting-time-{{i}}">
                <label [for]="'starting-time-'+i" class="ms-2 text-c-primary">Starting Time</label>
                <div class="text-danger" *ngIf="requestTimeGroup.get('starting-time-'+i)?.errors && (requestTimeGroup.get('starting-time-'+i)?.touched || requestTimeGroup.get('starting-time-'+i)?.dirty)">
                    <span *ngIf="requestTimeGroup.get('starting-time-'+i)?.errors?.['required']">Please enter Starting Time</span>
                </div>
            </div>
            <div class="form-floating col-6">
                <input type="time" class="form-control" placeholder="Event Description" [id]="'ending-time-'+i" formControlName="ending-time-{{i}}">
                <label [for]="'ending-time-'+i" class="ms-2 text-c-primary">Ending Time</label>
                <div class="text-danger" *ngIf="requestTimeGroup.get('ending-time-'+i)?.errors && (requestTimeGroup.get('ending-time-'+i)?.touched || requestTimeGroup.get('ending-time-'+i)?.dirty)">
                    <span *ngIf="requestTimeGroup.get('ending-time-'+i)?.errors?.['required']">Please enter Ending Time</span>
                </div>
            </div>
        </ng-template>
</form>