<header class="position-sticky start-0 top-0 shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid flex-row">
            <a class="navbar-brand" href="#">
                <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            </a>
          <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
            <div class="navbar-nav ms-auto">
              <!-- <a class="nav-link" href="#" [routerLink]="logout" routerLinkActive="active" ariaCurrentWhenActive="page">Logout</a> -->
              <a class="nav-link" href="#">Logout</a>
            <!-- </div> -->
          </div>
        </div>
     </nav>
</header>
