
  <header class="nav-sticky shadow-sm m-0">
    <nav class="navbar navbar-expand-sm navbar-light bg-white m-0">
        <div class="container-fluid flex-row">
            <a class="navbar-brand p-0 ps-md-3" href="#"><img src="assets/salesian-college-logo.png" alt="" width="36" height="40" class="d-inline-block align-text-top">
            </a>
          <button class="navbar-toggler my-0 p-1 border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav container-fluid mt-3 mt-sm-0 ms-sm-4">
              <a href="#" class="nav-link">
                <img src="assets/home-icon.svg" alt="" width="28" height="28" class="align-text-bottom d-inline-block d-sm-none me-3">
                <span>Home</span>
              </a>
              <a href="#" class="nav-link pe-auto">
                <img src="assets/analyse-icon.svg" alt="" width="28" height="28" class="align-text-bottom d-inline-block d-sm-none me-3">
                <span>Analyse</span>
              </a>
              <a href="#" class="nav-link pe-auto ms-sm-auto">
                  <img src="assets/logout-icon.svg" alt="" width="28" height="28" class="align-text-bottom d-inline-block d-sm-none me-3">
                  <span>Logout</span>
              </a>
            </div>
          </div>  
        </div>
     </nav>
</header>
