<ng-container [ngSwitch]="role">
    <ng-container *ngSwitchCase="'faculty'">
        <app-faculty-register-venue></app-faculty-register-venue>
    </ng-container>
    <ng-container *ngSwitchCase="'master'">
        <app-master-upcoming-events></app-master-upcoming-events>
    </ng-container>
    <ng-container *ngSwitchCase="'admin'">
        <app-admin-venue-requests></app-admin-venue-requests>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <div>Default</div>
    </ng-container>
</ng-container>
