<div class="requests-container">
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
    <app-mobile-card-show-events></app-mobile-card-show-events>
</div>