<form class="row mt-2 px-4 gy-3">
    <!-- <div class="row">
        <div class="form-floating col-10">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label class="ms-2" for="floatingInput">Hall Name</label>
          </div>
    </div>
      <div class="row">
        <div class="form-floating col-6">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label class="ms-2" for="floatingPassword">No. of Seats</label>
          </div>
          <div class="form-floating col-6">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label class="ms-2" for="floatingPassword">No. of Mics</label>
          </div>
      </div>
      <div class="row">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Default checkbox
            </label>
          </div>
      </div> -->
        <div class="form-floating col-10">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label class="ms-2" for="floatingInput">Hall Name</label>
          </div>
        <div class="form-floating col-6">
            <input type="number" class="form-control" id="floatingPassword" placeholder="Password">
            <label class="ms-2" for="floatingPassword">No. of Seats</label>
          </div>
          <div class="form-floating col-6">
            <input type="number" class="form-control" id="floatingPassword" placeholder="Password">
            <!-- <input type="number" class="form-control is-invalid" id="floatingPassword" placeholder="Password" aria-describedby="invalidmicfeedback"> -->
            <label class="ms-2" for="floatingPassword">No. of Mics</label>
            <!-- <div class="invalid-feedback" id="invalidmicfeedback">Please enter the </div> -->
          </div>

          <div class="form-check col-6 ms-3">
            <input class="form-check-input" type="checkbox" value="" id="acCheckDefault">
            <label class="form-check-label" for="acCheckDefault">
              AC Availablity
            </label>
          </div>
          <div class="form-floating col-6">
            <input type="time" class="form-control" id="floatingPassword" placeholder="Opening Time">
            <label class="ms-2" for="floatingPassword">Opening Time</label>
          </div>
          <div class="form-floating col-6">
            <input type="time" class="form-control" id="floatingPassword" placeholder="Closing Time">
            <label class="ms-2" for="floatingPassword">Closing Time</label>
          </div>
          <div class="form-check col-10 ms-3">
            <input class="form-check-input" type="checkbox" value="" id="projectorCheckDefault">
            <label class="form-check-label" for="projectorCheckDefault">
              Projector Availablity
            </label>
          </div>
          
        <button type="submit" class="btn btn-success col-3 mx-auto" >+ Add</button>
          
</form>
