<form class="px-4">
    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="datePicker" placeholder="EnterDate">
        <label for="datePicker">Enter Date</label>
    </div>
    <div class="text-center">
        <button class="btn btn-primary ms-auto">Check</button>
    </div>
</form>
<ul class="mt-3 border-top">
    <li>
        <app-mobile-card-show-events></app-mobile-card-show-events>
    </li>
    <!-- <li>
        <app-mobile-card-show-events></app-mobile-card-show-events>
    </li>
    <li>
        <app-mobile-card-show-events></app-mobile-card-show-events>
    </li> -->
</ul>
