<div>
    <span class="fw-bold text-c-primary">Venue Requirements:</span>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td scope="col" class="text-c-primary">No of Audience</td>
                <td class="text-c-primary">120</td>
            </tr>
            <tr>
                <td scope="col" class="text-c-primary">No of Mics</td>
                <td class="text-c-primary">3</td>
            </tr>
            <tr>
                <td scope="col" class="text-c-primary">No of Stand Mics</td>
                <td class="text-c-primary">1</td>
            </tr>
            <tr>
                <td scope="col" class="text-c-primary">No. of Collar Mics</td>
                <td class="text-c-primary">2</td>
            </tr>
            <tr>
                <td scope="col" class="text-c-primary">No of Leather Chair</td>
                <td class="text-c-primary">2</td>
            </tr>
            <tr>
                <td scope="col" class="text-c-primary">AC required</td>
                <td class="text-c-primary">Yes</td>
            </tr>
            <tr>
                <td scope="col" class="text-c-primary">Laptop required</td>
                <td class="text-c-primary">Yes</td>
            </tr>
            <tr>
                <td scope="col" class="text-c-primary">White Board required</td>
                <td class="text-c-primary">No</td>
            </tr>
            <tr>
                <td scope="col" class="text-c-primary">Lamp required</td>
                <td class="text-c-primary">No</td>
            </tr>
            <tr>
                <td scope="col" class="text-c-primary">Sound System required</td>
                <td class="text-c-primary">Yes</td>
            </tr>
            <tr>
                <td scope="col" class="text-c-primary">Projector required</td>
                <td class="text-c-primary">No</td>
            </tr>
            <tr>
                <td scope="col" class="text-c-primary">Projector Slider required</td>
                <td class="text-c-primary">No</td>
            </tr>
        </tbody>
    </table>
</div>